<section class="section section--on-top tabs js-tabs whats-on tabbed-content"
         id="whatsOn">
    <div class="wrapper wrapper--even whats-on__wrapper stagger-children">
        <div class="wrapper__col stagger-child">
            <h2 class="h4 whats-on__heading">Shows</h2>
        </div>
        <div class="wrapper__col"></div>
        <div class="wrapper__col stagger-child">
            <div class="tabs__nav">
                <ul class="tabs__list tab-navigation">
                    <li class="tabs__item" data-tab-target="just-announced"></li>
                    <li class="tabs__item" data-tab-target="upcoming"></li>
                    <li class="tabs__item" data-tab-target="featured"></li>
                </ul>
            </div>
        </div>
    </div>