<article class="card-link"
         style="transition-delay: 450ms;">
  <div class="card-link__image">
    <a href="{site_url}/event/{url_title}"
       class="card-link__image-link">
      {if embed:image}
        <!-- 400 x 400 -->
        <picture>
          <source src="{embed:image:webp:resize width='400' height='400'}" type="image/webp">
          <img src="{embed:image:resize width='400' height='400'}"
               alt="{embed:title}"
               class="card-link__image-source">
        </picture>
      {/if}
    </a>
  </div>

  <div class="card-link__content">
    <div class="card-link__titles">
      <h3 class="h4 card-link__heading">
        <a class="card-link__heading-link"
           href="{site_url}/event/{url_title}">{embed:title}</a>
      </h3>
      <p class="card-link__sub-heading">
        {if embed:start_date}
          <time datetime="{embed:start_date}">{embed:start_date}</time>
        {/if}
        {if embed:end_date}
          <time datetime="{embed:end_date}">{embed:end_date format="%Y-%m-%d"}</time>
        {/if}
      </p>
    </div>

    <div class="card-link__info">
      <ul class="card-link__list">

      </ul>
      <div class="card-link__ctas">
        <div class="inline-ctas">
          <a href="{site_url}/event/{url_title}"
             class="inline-ctas__cta text-pink">
            <span class="inline-ctas__text">Learn more</span>
            <i class="icon-right-arrow inline-ctas__arrow"></i>
          </a>

          <a href="{site_url}/event/{url_title}"
             target="_blank"
             rel="noreferrer"
             class="inline-ctas__cta text-white">
            <i class="icon-ticket inline-ctas__icon"></i>
            <span class="inline-ctas__text">Buy Now</span>
            <i class="icon-right-arrow inline-ctas__arrow"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>